@page
@model WebApplication1.Pages.Panel.Crud_panel.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductsGg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductsGg.Id" class="control-label"></label>
                <input asp-for="ProductsGg.Id" class="form-control" />
                <span asp-validation-for="ProductsGg.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductsGg.Sku" class="control-label"></label>
                <input asp-for="ProductsGg.Sku" class="form-control" />
                <span asp-validation-for="ProductsGg.Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductsGg.Title" class="control-label"></label>
                <input asp-for="ProductsGg.Title" class="form-control" />
                <span asp-validation-for="ProductsGg.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductsGg.Description" class="control-label"></label>
                <input asp-for="ProductsGg.Description" class="form-control" />
                <span asp-validation-for="ProductsGg.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductsGg.ImageUrl" class="control-label"></label>
                <input asp-for="ProductsGg.ImageUrl" class="form-control" />
                <span asp-validation-for="ProductsGg.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
