@page
@model WebApplication1.Areas.Identity.Pages.Account.Manage.SuccessModel
@{
}
<div class="alert alert-success" role="alert">
    Successfully saved credentials, Click <a href="Index">here</a> to return Index
</div>