@page
@model WebApplication1.Pages.Panel.Crud_panel.insertion_errorModel
@{
}
<div class="alert alert-danger" role="alert">
    <span>The Product Couldn't Inserted To Gittigidiyor Api, Check the Product Description and/or Title For Being Too Short (Gittigidiyor
    Api Won't Allow Short Titles and Descriptions</span>
</div>