@page
@model WebApplication1.Pages.Panel.Crud_panel.successfully_insertedModel
@{
}
<div class="alert alert-success" role="alert">
    <span>The Product Successfully Activated and Inserted To Gittigidiyor Api</span>
</div>